---
import Navigation from "../components/Navigation.astro";
import { Image } from "astro:assets";
import julepynt from "../assets/images/juleside/julepynt3.webp";
import lys from "../assets/images/juleside/Firefly stor naturpynt med levende lys og tørret frugt i midten af et veldækket bord med sølvservice (1).webp";
import bestik from "../assets/images/juleside/Firefly stål bestik ved siden af en sort keramik tallerken på et mørkt træbord zoomet ind på bestikk.webp";
import bord from "../assets/images/juleside/julebord1.svg";
import stof from "../assets/images/juleside/Firefly stofserviet anrettet på en æstetisk måde i mørkegrønne nuancer på en tallerken med grålige t (3).webp";
import tupperware from "../assets/images/juleside/Firefly tupperware bokse med låg fyldt med rester fra julemaden 43042.webp";
import juletre from "../assets/images/juleside/juletræ.webp";
import liste from "../assets/images/juleside/plastfriGavepapir.svg";
import "../styles/global.css";
import "../styles/reset.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import CalenderSection from "../components/CalenderSection.astro";
import GreenOrnaments from "../components/Green_ornaments.astro";
---

<BaseLayout> 
<header>
  <div class="container">
    <section class="hero stickyhero">  <!-- Hero -->
     
      <Navigation />
     <div class="hero_tekst">
      <h4 class="text-title-uppercase white1">Kampagne</h4>
      <h1 class="text-display-large white1">En jul uden plastik på din ønskeliste</h1>
      <p class="text-display-small white1">
        Plastikfri festligheder: Små tricks med stor effekt.
      </p>
    </div>
    </section>
  </div>
</header>
  <!-- ------------------------- -->
<main>
  <div class="container_julebord">
  <h2 class="text-display-medium h2bord">Et julebord naturen værdsætter</h2> 
  <section id="julebord" >  <!------- julebord -------->
   

    <div class="two-sections">
      <div class="imgText-wrapper">
        <div>
          <Image class="imgJulebord" src={lys} alt="julebord med lys" />
        </div>
        <div class="text-wrapper">
          <p class="text-display-small">
            Traditionel bordpynt af <span class="red">naturmateriale</span>
          </p>
          <p class="text-body-regular">
            er et miljøvenligt alternativ, som skaber en rustik atmosfære og
            bidrager til at stoppe plastikudledningen inden vi kan begynde at
            rydde op i det vi allerede har udledt.
          </p>
        </div>
      </div>

        <div class="imgText-wrapper">
          <div>
            <Image class="imgJulebord" src={bestik} alt="julebord med lys" />
          </div>
          <div class="text-wrapper">
            <p class="text-display-small">
              Service af <span class="red">keramik eller stål</span>
            </p>
            <p class="text-body-regular">
              er mere bæredygtig end plastikservice på grund af længere levetid,
              genanvendelighed og mindre miljøpåvirkning ved produktion.
            </p>
          </div>
        </div>
      </div>
      <div><Image class="svgJulebord" src={bord} alt="tegnet julebord" /></div>

      <div class="two-sections">
        <div class="imgText-wrapper">
          <div>
            <Image
              class="imgJulebord"
              src={stof}
              alt="tallerken med stofserviet"
            />
          </div>
          <div class="text-wrapper">
            <p class="text-display-small">
              Brug <span class="red">stofservietter</span>
            </p>
            <p class="text-body-regular">
              frem for papirsservietter, da de kan genbruges flere gang og
              dermed reducerer plastikforbruget, samt mindsker singleuse
              kulturen.
            </p>
          </div>
        </div>

      <div class="imgText-wrapper">
        <div>
          <Image
            class="imgJulebord"
            src={tupperware}
            alt="tallerken med stofserviet"
          />
        </div>
        <div class="text-wrapper">
          <p class="text-display-small">
            Tupperware <span class="red">HUSK</span>
          </p>
          <p class="text-body-regular">
            er et miljøvenligt alternativ, som skaber en rustik atmosfære og
            bidrager til at stoppe plastikudledningen inden vi kan begynde at
            rydde op i det vi allerede har udledt.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
  <!---------------------------------->

    <section class="greensection">
      <!-- juletræ -->

      <h2 class="text-display-medium hideDesktop white">
        Køb et rødgran juletræ
      </h2>
      <div class="greendiv">
        <div><Image class="tree" src={juletre} alt="juletræ" /></div>
        <div class="textbox">
          <h2 class="text-display-medium hideMobil white">
            Køb et rødgran juletræ
          </h2>
          <p class="white text-body-regular">
            Juletræer har en positiv indvirkning på miljøet ved at binde mere
            CO2, end de frigiver under deres livscyklus. Et typisk dansk juletræ
            har et CO2-aftryk på ca. 16 kg, men det binder samtidig 18 kg CO2 i
            sin levetid på 8-10 år. Danmark, som Europas største
            juletræsproducent, bidrager årligt med 240.000 tons bundet CO2.
          </p>

          <ul>
            <p class="white text-body-regular">Rødgran:</p>
            <li><p class="white text-body-regular">Kompost venlig</p></li>
            <li>
              <p class="white text-body-regular">
                Binder 18 kg CO2 i sin levetid
              </p>
            </li>
            <li>
              <p class="white text-body-regular">
                Vokster hurtigt og naturlig i Danmark
              </p>
            </li>
          </ul>
        </div>
      </div>
    </section><!---------------------------------->

    <GreenOrnaments/>

    <section class="greensection">
      <!-- gavepapir -->

      <h2 class="text-display-medium hideDesktop white">
        Brug genbrugs martialer til at pakke julegaverne ind
      </h2>
      <div class="greendiv">
        <div class="hideDesktop">
          <Image
            class="tree hideDesktop"
            src={liste}
            alt="julemandens artig-liste"
          />
        </div>
        <div class="textbox textbox1">
          <h2 class="text-display-medium hideMobil white h2max">
            Brug genbrugs martialer til at pakke julegaverne ind
          </h2>
          <p class="white text-body-regular">
            Nogle julegaveindpakningspapirer og bånd kan have en plastikcoating
            eller indeholde plastikfibre. For at reducere plastikaffaldet kan du
            vælge genanvendeligt indpakningspapir eller alternative
            indpakningsmaterialer.
          </p>

          <p class="white text-body-regular">
            Brug stof fra dit gammlt tøj du ikke bruger mere. Gem dine gamle
            aviser/reklamer og pak dine gaver ind med det. Eller gå ned i
            genbrugen og køb en gammel bog som du kan bruge som gave papir.
          </p>
        </div>
        <div>
          <Image
            class="tree hideMobil"
            src={liste}
            alt="julemandens artig-liste"
          />
        </div>
      </div>
    </section><!---------------------------------->

    <CalenderSection />
  </main>
</BaseLayout>

<script>
  import { gsap } from "gsap";    
import { ScrollTrigger } from "gsap/dist/ScrollTrigger";


gsap.registerPlugin(ScrollTrigger);

gsap.to(".hero" , {
     scrollTrigger: {
       trigger: ".container",
       start: "top top",
       end: "bottom top",
       pin: true,
       pinSpacing: false
     },
   });
</script>


  <style>

     /*--------------- Hero--------------------------------- */

     .container_julebord{
      position: relative;
      z-index: 1;
      background-color: var(--white);
    }
 
     
  .sticky-hero {
    position: relative; 
}

.container{
  height: 80vh; /* Juster højden efter behov */
  position: relative;
  overflow: hidden; 
}
     .hero {
      background-image: url("../assets/Hero_juletips.webp");
      background-size: cover;
      background-position: center;
      height: 80vh;
      position: relative;

    }
    h1 {
      color: var(--white);
    }

  .hero_tekst {
    padding: var(--size-spacing-24);
    padding-top: var(--size-spacing-24);
    font-size: var();
  }
  .text-title-uppercase {

    padding-bottom: var(--size-spacing-24);
  }
  .text-display-small {
    max-width: 40ch;
  }
  @media only screen and (min-width: 768px) {
 
    .hero_tekst {
      padding: var(--size-spacing-24);
      padding-top: var(--size-spacing-64);
    }
    .text-title-uppercase {
      padding-bottom: var(--size-spacing-32);
    }
    .text-display-small {
      max-width: 40ch;
    }
  }

    /* ------------------------------------------------- */



    /* ----------------------Juletræ/Gavepapir-------------------------------- */
    li {
      color: var(--white);
    }
    .hideMobil {
      display: none;
    }

  .hideDesktop {
    display: block;
    padding-bottom: var(--size-spacing-20);
  }
  .greensection {
    background-color: var(--color-surface-green700);
    display: flex;
    flex-direction: column;
    min-width: 325px;
    max-width: 999px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: var(--size-spacing-48) 0 var(--size-spacing-48) 0;
  }
  .white {
    color: var(--white);
    max-width: 60ch;
  }
  .white1 {
    color: var(--white);
  }
  .greendiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    max-width: 300px;
  }

  .tree {
    width: 100%;
    height: auto;
  }

  h2 {
    text-align: center;
  }

  .textbox {
    display: flex;
    flex-direction: column;
    gap: var(--size-spacing-40);
  }

  @media (min-width: 999px) {
    .h2max {
      width: 518px;
    }
    h2 {
      text-align: left;
    }
    .hideDesktop {
      display: none;
    }
    .hideMobil {
      display: block;
    }
    .greensection {
      background-color: var(--color-surface-green700);
      max-width: 100%;
      gap: 10px;
      padding: var(--size-spacing-48);
    }

    .greendiv {
      display: grid;
      grid-template-columns: 1fr 1fr;
      min-width: 325px;
      max-width: none;
      justify-items: center;
      justify-content: center;
      align-items: center;
    }

    .tree {
      max-width: 471px;
      max-height: 561px;
    }

    .textbox {
      display: flex;
      flex-direction: column;
      gap: var(--size-spacing-40);
    }
  }

  /* ------------------------------------------------------------ */

    /*--------------------- Julebord ---------------------------- */
    .svgJulebord {
      display: none;
    }
    .red {
      color: var(--color-text-red500);
    }
    #julebord {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: var(--size-spacing-20);
    }
    .imgJulebord {
      max-width: 300px;
      height: 300px;
    }
    .imgText-wrapper {
      display: flex;
      flex-direction: column;
      gap: var(--size-spacing-20);
      margin-bottom: var(--size-spacing-32);
    }
    .text-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      max-width: 300px;
   
    }
   .h2bord{
    padding: var(--size-spacing-48);
    text-align: center;
  }

  @media (min-width: 1250px) {
    .svgJulebord {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }
  @media (min-width: 999px) {
    .imgText-wrapper {
      flex-direction: row;
    }

    .imgJulebord {
      max-width: 200px;
      height: 200px;
    }

    #julebord {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: var(--size-spacing-12);
    }

      .two-sektions {
        display: flex;
        flex-direction: column;
        gap: 100px;
      }
    }
    /* ---------------------------------------------------- */

  </style>


</html>
