---
import { Image } from "astro:assets";
import snow from "../assets/images/ditBidrag/snowSquare.svg";
import havIllustration from "../assets/images/ditBidrag/beskyttehavet.png";
import ressourcerIllustration from "../assets/images/ditBidrag/jordensressourcer.png";
import klimaIllustration from "../assets/images/ditBidrag/klimaaftryk.png";
import kemiIllustration from "../assets/images/ditBidrag/skadeligplastik-kemi.png";
---

<section>
  <h2 class="text-display-medium">Gå med i kampen mod plastik-foureing</h2>
  <div id="formWithSnow">
    <Image src={snow} alt="illustration af sne på formularen" id="snow" />
    <div class="formBackground">
      <div id="form_container">
        <div class="formText">
          <p class="text-display-medium">Giv en julegave til planeten</p>
          <p class="text-body-regular">Du kan også hjælpe i juletiden ved at give et beløb til vores mission</p>
        </div>
      </div>
    </div>
  </div>
  <h2 class="text-display-medium">Dit bidrag går bandt andet til at:</h2>
  <div class="cardContainer">
    <div class="ditBidragCard">
      <Image src={havIllustration} alt="illustration af en fisk" class="illustration" />
      <h3 class="text-display-small">Beskytte naturen og havet mod plastikforurening</h3>
    </div>
    <div class="ditBidragCardOpen">
      <p class="text-body-regular">Hvert år ender mindst 15 millioner tons plastik i havet. Det svarer omtrent til, at der hvert minut bliver tømt to lastbiler med plastik ud i havet.</p>
      <p class="text-body-regular">Kun 10 plastikprodukter udgør 75% af alt plastikaffald der ender i havet, hvor størstedelen er engangsplastik fra fødevareemballage.</p>
    </div>
  </div>
  <div class="cardContainer">
    <div class="ditBidragCard">
      <Image src={klimaIllustration} alt="illustration fod med klimaaftrykket" class="illustration" />
      <h3 class="text-display-small">Mindske klimaaftryk</h3>
    </div>
    <div class="ditBidragCardOpen">
      <p class="text-body-regular">Hvert år ender mindst 15 millioner tons plastik i havet. Det svarer omtrent til, at der hvert minut bliver tømt to lastbiler med plastik ud i havet.</p>
      <p class="text-body-regular">Kun 10 plastikprodukter udgør 75% af alt plastikaffald der ender i havet, hvor størstedelen er engangsplastik fra fødevareemballage.</p>
    </div>
  </div>
  <div class="cardContainer">
    <div class="ditBidragCard">
      <Image src={ressourcerIllustration} alt="illustration jordens ressourcer" class="illustration" />
      <h3 class="text-display-small">Skåne Jordens ressourcer</h3>
    </div>
    <div class="ditBidragCardOpen">
      <p class="text-body-regular">Hvert år ender mindst 15 millioner tons plastik i havet. Det svarer omtrent til, at der hvert minut bliver tømt to lastbiler med plastik ud i havet.</p>
      <p class="text-body-regular">Kun 10 plastikprodukter udgør 75% af alt plastikaffald der ender i havet, hvor størstedelen er engangsplastik fra fødevareemballage.</p>
    </div>
  </div>
  <div class="cardContainer">
    <div class="ditBidragCard">
      <Image src={kemiIllustration} alt="illustration farlig kemi" class="illustration" />
      <h3 class="text-display-small">Beskytte folkesundheden mod skadelig kemi</h3>
    </div>
    <div class="ditBidragCardOpen">
      <p class="text-body-regular">Hvert år ender mindst 15 millioner tons plastik i havet. Det svarer omtrent til, at der hvert minut bliver tømt to lastbiler med plastik ud i havet.</p>
      <p class="text-body-regular">Kun 10 plastikprodukter udgør 75% af alt plastikaffald der ender i havet, hvor størstedelen er engangsplastik fra fødevareemballage.</p>
    </div>
  </div>
</section>

<style>
  section {
    background-color: var(--color-surface-red600);
    display: flex;
    padding: 48px;
    flex-direction: column;
    align-items: center;
    gap: 64px;
  }
  h2,
  h3,
  p {
    color: var(--color-text-white);
  }
  #formWithSnow {
    width: 100%;
  }
  #snow {
    width: 325px;
    height: fit-content;
  }
  .formBackground {
    margin: 0 15px;
  }
  #form_container {
    width: 100%;
    border-radius: 0 0 10px 10px;
    background-color: var(--color-surface-white);
  }

  .formText {
    padding: 16px 16px 40px 16px;
  }

  #form_container p {
    color: var(--color-text-gray900);
  }

  /* Cards */
  .cardContainer {
    background-color: var(--color-surface-red700);
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .ditBidragCard {
    display: flex;
    padding-bottom: 20px;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid var(--color-surface-red700);
    border-right: 2px solid var(--color-surface-red700);
    border-bottom: 2px solid var(--color-surface-red700);
    border-left: 2px solid var(--color-surface-red700);
    background: var(--color-surface-red600);
  }
  .ditBidragCard:hover {
    background: var(--color-surface-red700);
  }

  .illustration {
    width: 220px;
    height: 220px;
  }
  .ditBidragCard h3 {
    text-align: center;
    max-width: 280px;
  }
  .ditBidragCard p {
    max-width: 280px;
  }

  /* Cards open */
  .ditBidragCardOpen {
    /* display: none; */
    background: var(--color-surface-red700);
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    padding-bottom: 32px;
    padding-right: 16px;
    padding-left: 16px;
  }
</style>
